div.myUl {
    border: 2px double white;
    border-radius: 1rem;
    padding: 1rem;
    width: 60%;
    text-align: center;
    position: relative;
    left: 20%;
}
span.ph3 {
    position: relative;
    bottom: -1.5rem;
    width: 10rem;
}